@model Mafa2.Web.Models.StavkaKorpe
@using Mafa2.Web.Models
@{
    ViewBag.Title = "Index";
}


<div class="container-fluid">
        <div class="background">
            <div class="page-header">
                <h1><a href="/Pocetna/Index"><img src="~/Content/img/borac2.jpg" width="1110" alt="log firme |Martial Arts Fighting Area"></a></h1>
            </div>

            @Html.Partial("navBarKorisnik")


<!-- -------------------------------KORPA------------------------ -->
<div class="page-header" id="pageHeaderKorpa">
  <h2>Vaša korisnička korpa</h2>
</div>

@{
    double totalPrice = 0;
}


@if (Session["shopping_cart"] != null)
{
     <div class="table-responsive">
        <table class="table" id="tabelaKorpa">
            <tr>
                <th width="35%">Naziv</th>
                <th width="10%">Količina</th>
                <th width="20%">Cena</th>
                <th width="20%">Ukupna cena</th>
                <th>Izbaci iz korpe</th>
            </tr>

            @foreach (var item in (List<StavkaKorpe>)Session["shopping_cart"])
            {
                <tr>
                    <td>@item.Naziv</td>
                    <td>@item.IzabranaKol</td>
                    <td>@(String.Format("{0:N2}", item.Cena)) RSD</td>
                    <td>@(String.Format("{0:N2}", item.Cena * item.IzabranaKol)) RSD</td>
                    <td>
                        <a href="@Url.Action("deleteItem", "Korpa", new { sifraP = item.SifraProizvoda })" onclick="return confirm('Da li ste sigurni da želite da izbacite proizvod @item.Naziv (Količina: @item.IzabranaKol) iz korpe?')">
                            <!-- BITNO!!! ***Url.Action sa konfirmacijom!!! -->
                            <button class="btn-danger"><i class="fa fa-trash-alt fa-lg"></i></button>
                        </a>
                    </td>
                </tr>
                totalPrice += item.Cena * item.IzabranaKol;
            }

            @{
                Session["totalPrice"] = totalPrice;
            }
        <tr>
            <td></td>
            <td></td>
            <td><b>Ukupno:</b></td>
            <td><b>@(String.Format("{0:N2}", totalPrice)) RSD</b></td>
            <td></td>
        </tr>
        </table>
    </div>


    @*Checkout*@
    @Html.Partial("Checkout")

}
else{
    <p>Korpa je prazna.</p>
}


<br />
<br />

<!-- -------------------------------KORPA KRAJ------------------------ -->

<!----------------------------------POCETAK CHECKOUT-A---------------------------------------->



<!----------------------------------KRAJ CHECKOUT-A---------------------------------------->
<footer>
                <div class="row">
                    <!--POČETAK GORNJEG DIJELA FOOTERA-->
                    <div class="col-md-4">
                        <div class="page-header">
                            <h4><b>O nama</b></h4>

                        </div>
                        <p>M.A.F.A. je na prvom mestu posrednik između zainteresovanih korisnika aplikacije, oba pola,  koji žele da deo svog slobodnog vremena provedu u ringu sa drugim, uparenim korisnicima aplikacije koji su pristali na borbu i sportskih/borilačkih klubova koji trebaju da pruže uslugu prostora za borbu, sudije i medicinskog osoblja.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="page-header">
                            <h4><b>Kontakt</b></h4>

                        </div>
                        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Nedeljka Gvozdenovića 22b, 11070 N.Beograd</p>
                        <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> +381 63 377745 </p>
                        <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> mz.tool2882@gmail.com</p>
                    </div>

                    <div class="col-md-4">
                        <div class="page-header">
                            <h4><b>Pratite nas na:</b></h4>
                        </div>
                        <a href="#" class="btn btn-danger" role="button">
                            <i class="fab fa-facebook fa-3x"></i>
                        </a>
                        <a href="#" class="btn btn-danger" role="button">
                            <i class="fab fa-twitter fa-3x"></i>
                        </a>
                        <a href="#" class="btn btn-danger" role="button">
                            <i class="fab fa-youtube fa-3x"></i>
                        </a>
                        <a href="#" class="btn btn-danger" role="button">
                            <i class="fab fa-linkedin-in fa-3x"></i>
                        </a>

                    </div>
                </div><!--KRAJ GORNJEG DIJELA FOOTERA-->
                <div class="panel-footer">
                    <!--POČETAK DONJEG DIJELA FOTERA-->
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-inline">
                                <li><a href="oNama.php">O nama</a></li>
                                <li><a href="#">Uslovi korišćenja</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="kontakt.php">Kontakt</a></li>
                                <li><a href="#">Mapa sajta</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <p class="text-right">Copyright &copy; 2019 Mladen Zvjerac &#169;</p>
                        </div>

                    </div>
                </div><!--POČETAK DONJEG DIJELA FOTERA-->
            </footer>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>